In [ ]:
gastos = [2172.54, 3701.35, 3518.09, 3456.61, 3249.38, 2840.82, 3891.45, 3075.26, 2317.64, 3219.08]

media_gastos = sum(gastos) / len(gastos)
print('A média de gastos da empresa é de', media_gastos)

A média de gastos da empresa é de 3144.222

In [ ]:
gastos = [2172.54, 3701.35, 3518.09, 3456.61, 3249.38, 2840.82, 3891.45, 3075.26, 2317.64, 3219.08]

acima_3k = 0

for gasto in gastos:
  if gasto > 3000:
    acima_3k += 1

quantidade_compras = len(gastos)

porcentagem_acima_3000 = 100 * (acima_3k / quantidade_compras)

print(f'{acima_3k} compras foram feitas acima de 3k')
print(f'{porcentagem_acima_3000}% dos gastos foram acima de 3k')

7 compras foram feitas acima de 3k
70.0% dos gastos foram acima de 3k

In [ ]:
lista_numeros = []

for digito in range(0,5):
  numero = int(input('Digite um número: '))
  lista_numeros.append(numero)

print(f'Lista de números inseriods: {lista_numeros}')

Digite um número: 4
Digite um número: 5
Digite um número: 8
Digite um número: 7
Digite um número: 6
Lista de números inseriods: [4, 5, 8, 7, 6]

In [ ]:
lista_numeros = []

for digito in range(0,5):
  numero = int(input('Digite um número: '))
  lista_numeros.append(numero)

print(f'Lista de números inseriods: {lista_numeros[::-1]}')

Digite um número: 1
Digite um número: 2
Digite um número: 3
Digite um número: 4
Digite um número: 5
Lista de números inseriods: [5, 4, 3, 2, 1]

In [ ]:
numero = int(input('Digite seu número: '))
numeros_primos = []

for digito in range(2, numero + 1):
  primo = True
  for teste_divisiveis in range(2, digito):
    if digito % teste_divisiveis == 0:
      primo = False
      break

  if primo:
    numeros_primos.append(digito)

print(f'Os números primos são: {numeros_primos}')

Digite seu número: 30
Os números primos são: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

In [ ]:
dia = int(input('Digite o dia: '))
mes = int(input('Digite o mês: '))
ano = int(input('Digite o ano: '))

if mes == 2:
  if ano % 4 == 0 and (ano % 400 == 0 or ano % 100 != 0):
    dias_fevereiro = 29
  else:
    dias_fevereiro = 28

  if dia >= 1 and dia <= dias_fevereiro:
    print('Data válida')
  else:
    print('Data inválida')

#meses com 31 dias
elif mes in [1,3,5,7,8,10,12]:
  if dia >= 1 and dia <= 31:
    print('Data válida')
  else:
    print('Data inválida')

#meses com 30 dias
elif mes in [4,6,9,11]:
  if dia >= 1 and dia <= 30:
    print('Data válida')
  else:
    print('Data inválida')
else:
  print('Data inválida')

Digite o dia: 78
Digite o mês: 23
Digite o ano: 1900
Data inválida

Para um estudo envolvendo o nível de multiplicação de bactérias em uma colônia, foi coletado o número de bactérias por dia (em milhares) e pode ser observado a seguir: [1.2, 2.1, 3.3, 5.0, 7.8, 11.3, 16.6, 25.1, 37.8, 56.9]. Tendo esses valores, faça um código que gere uma lista contendo o percentual de crescimento de bactérias por dia, comparando o número de bactérias em cada dia com o número de bactérias do dia anterior. Dica: para calcular o percentual de crescimento usamos a seguinte equação: 100 * (amostra_atual - amostra_passada) / (amostra_passada).

In [ ]:
bacterias = [1.2, 2.1, 3.3, 5.0, 7.8, 11.3, 16.6, 25.1, 37.8, 56.9]
porcentual_crescimento = []

for i in range(1, len(bacterias)):
  porcentagem = 100 * (bacterias[i] - bacterias[i - 1] / bacterias[i - 1])
  porcentual_crescimento.append(porcentagem)

print(f'Porcentagens de crescimento: \n {porcentual_crescimento}')

Porcentagens de crescimento:
 [110.00000000000001, 229.99999999999997, 400.0, 680.0, 1030.0, 1560.0000000000002, 2410.0, 3679.9999999999995, 5590.0]

Para uma seleção de produtos alimentícios, precisamos separar o conjunto de IDs dados por números inteiros sabendo que os produtos com ID par são doces e os com ID ímpar são amargos. Monte um código que colete 10 IDs. Depois, calcule e mostre a quantidade de produtos doces e amargos.

In [ ]:

doces = []
amargos = []

for sabor in range(1,11):
  sabor = int(input('Digite um número: '))
  if sabor % 2 == 0:
    doces.append(sabor)
  else:
    amargos.append(sabor)

print(f'Os sabores doces são: {doces}')
print(f'Os sabores amargos são: {amargos}')

Digite um número: 1
Digite um número: 2
Digite um número: 3
Digite um número: 4
Digite um número: 5
Digite um número: 6
Digite um número: 7
Digite um número: 8
Digite um número: 9
Digite um número: 10
Os sabores doces são: [2, 4, 6, 8, 10]
Os sabores amargos são: [1, 3, 5, 7, 9]

Desenvolva um programa que informa a nota de um(a) aluno(a) de acordo com suas respostas. Ele deve pedir a resposta desse(a) aluno(a) para cada questão e é preciso verificar se a resposta foi igual ao gabarito. Cada questão vale um ponto e existem as alternativas A, B, C ou D.

In [ ]:
respostas = []
gabarito = ['D', 'A', 'C', 'B', 'A', 'D', 'C', 'C', 'A', 'B']
nota = 0

for i in range(0,10):
  respostas.append(input(f'Insira a resposta da questão {i + 1}').upper())

for i in range(0,10):
  if respostas[i] == gabarito[i]:
    nota += 1

print(f'Nota final: {nota}')

Insira a resposta da questão 1d
Insira a resposta da questão 2a
Insira a resposta da questão 3c
Insira a resposta da questão 4b
Insira a resposta da questão 5a
Insira a resposta da questão 6d
Insira a resposta da questão 7c
Insira a resposta da questão 8c
Insira a resposta da questão 9a
Insira a resposta da questão 10b
Nota final: 10

Um instituto de meteorologia deseja fazer um estudo de temperatura média de cada mês do ano. Para isso, você precisa fazer um código que colete e armazene essas temperaturas médias em uma lista. Depois, calcule a média anual das temperaturas e mostre todas as temperaturas acima da média anual e em que mês elas ocorreram, mostrando os meses por extenso (Janeiro, Fevereiro, etc.).

In [3]:
temperaturas_mensaid = []

for i in range(0, 12):
  temperaturas_mensaid.append(float(input('Insira a temperatura: ')))


meses = ['janeiro', 'fevereiro', 'março', 'abril', 'maio', 'junho', 'julho', 'agosto', 'setembro', 'outrubro', 'novembro', 'dezembro']
media_anual = sum(temperaturas_mensaid) / len(temperaturas_mensaid)


print('Temperaturas médias em: ')
for i in range(0, 12):
  if temperaturas_mensaid[i] > media_anual:
    print(meses[i])

Insira a temperatura: 30
Insira a temperatura: 25
Insira a temperatura: 35
Insira a temperatura: 14
Insira a temperatura: 26
Insira a temperatura: 28
Insira a temperatura: 28
Insira a temperatura: 29
Insira a temperatura: 16
Insira a temperatura: 15
Insira a temperatura: 20
Insira a temperatura: 21
Temperaturas médias em:
janeiro
fevereiro
março
maio
junho
julho
agosto

Uma empresa de e-commerce está interessada em analisar as vendas dos seus produtos. Os dados das vendas foram armazenados em um dicionário:

Escreva um código que calcule o total de vendas e o produto mais vendido.

In [7]:
dados_vendas = {'Produto A': 300, 'Produto B': 80, 'Produto C': 60,
 'Produto D': 200, 'Produto E': 250, 'Produto F': 30}

total_vendas = 0
produto_mais_vendido = ''
unidades_produtos_mais_vendidos = 0

for produto in dados_vendas.keys():
  total_vendas += dados_vendas[produto]

  if dados_vendas[produto] > unidades_produtos_mais_vendidos:
    unidades_produtos_mais_vendidos = dados_vendas[produto]
    produto_mais_vendido = produto

print(f'O total de vendas foi de {total_vendas}')
print(f'O produto mais vendido foi {produto_mais_vendido} com {unidades_produtos_mais_vendidos} unidades vendidas')

O total de vendas foi de 920
O produto mais vendido foi Produto A com 300 unidades vendidas

Uma pesquisa de mercado foi feita para decidir qual design de marca infantil mais agrada as crianças. A pesquisa foi feita e o votos computados podem ser observados abaixo:

Adapte os dados fornecidos para uma estrutura de dicionário. A partir dele, informe o design vencedor e a porcentagem de votos recebidos.

In [8]:
votos = {'Design 1': 1334, 'Design 2': 982, 'Design 3': 1751, 'Design 4': 210, 'Design 5': 1811}

total_votos = 0
vencedor = ''
voto_vencedor = 0

for design, voto_design in votos.items():
  total_votos += voto_design

  if voto_design > voto_vencedor:
    voto_vencedor = voto_design
    vencedor = design

porcentagem = 100 * (voto_vencedor) / (total_votos)

print(f'O design vencedor foi o {vencedor} com {voto_vencedor} votos')
print(f'A porcentagem de votos recebidos foi de {porcentagem}%')

O design vencedor foi o Design 5 com 1811 votos
A porcentagem de votos recebidos foi de 29.747043363994745%

As pessoas colaboradoras de um setor da empresa que você trabalha vão receber um abono correspondente a 10% do salário devido ao ótimo desempenho do time. O setor financeiro solicitou sua ajuda para a verificação das consequências financeiras que esse abono irá gerar nos recursos. Assim, foi encaminhada para você uma lista com os salários que receberão o abono: [1172, 1644, 2617, 5130, 5532, 6341, 6650, 7238, 7685, 7782, 7903]. O abono de cada colaborador(a) não pode ser inferior a 200. Em código, transforme cada um dos salários em chaves de um dicionário e o abono de cada salário no elemento. Depois, informe o total de gastos com o abono, quantos(as) colaboradores(as) receberam o abono mínimo e qual o maior valor de abono fornecido.

In [11]:
salarios = [1172, 1644, 2617, 5130, 5532, 6341, 6650, 7238, 7685, 7782, 7903]
dic_abonos = {}
total_abono = 0
abono_minimo = 0
maior_abono = 0

for salario in salarios:
  abono = salario * 0.1
  if abono < 200:
    abono = 200
  dic_abonos[salario] = abono

for abono in dic_abonos.values():
  if abono == 200:
    abono_minimo += 1

  if abono > maior_abono:
    maior_abono = abono

  total_abono += abono

print(f'Abonos: {dic_abonos}')
print(f'Total de gastos com abonos: {total_abono}')
print(f'Quantidade de colaboradores que receberam o abono mínimo: {abono_minimo}')
print(f'MAior valor de abono: {maior_abono}')

Abonos: {1172: 200, 1644: 200, 2617: 261.7, 5130: 513.0, 5532: 553.2, 6341: 634.1, 6650: 665.0, 7238: 723.8000000000001, 7685: 768.5, 7782: 778.2, 7903: 790.3000000000001}
Total de gastos com abonos: 6087.8
Quantidade de colaboradores que receberam o abono mínimo: 2
MAior valor de abono: 790.3000000000001

Uma equipe de cientistas de dados está estudando a diversidade biológica em uma floresta. A equipe fez a coleta de informações sobre o número de espécies de plantas e animais em cada área dessa floresta e armazenou essas informações em um dicionário. Nele, a chave descreve a área dos dados e os valores nas listas correspondem às espécies de plantas e animais nas áreas, respectivamente.

Escreva um código para calcular a média de espécies por área e identificar a área com a maior diversidade biológica. Dica: use as funções built-in sum() e len().

In [12]:
dados = {'Área Norte': [2819, 7236],
         'Área Leste': [1440, 9492],
         'Área Sul': [5969, 7496],
         'Área Oeste': [14446, 49688],
         'Área Centro': [22558, 45148]}

soma_media = 0
maior_diversidade = ''
maior_soma = 0

for area, especies in dados.items():
  soma_especies = sum(especies)
  media = soma_especies / len(especies)
  print(f'A {area} tem a média de {media} espécies')

  if soma_especies > maior_soma:
    maior_soma = soma_especies
    maior_diversidade = area

  soma_media += media

media_total = soma_media / len(dados)

print(f'Média geral de espécies: {media_total}')
print(f'Área com a maior diversidade biológica: {maior_diversidade}')

A Área Norte tem a média de 5027.5 espécies
A Área Leste tem a média de 5466.0 espécies
A Área Sul tem a média de 6732.5 espécies
A Área Oeste tem a média de 32067.0 espécies
A Área Centro tem a média de 33853.0 espécies
Média geral de espécies: 16629.2
Área com a maior diversidade biológica: Área Centro

O setor de RH da sua empresa te pediu uma ajuda para analisar as idades de colaboradores(as) de 4 setores da empresa. Para isso, foram fornecidos os seguintes dados

Sabendo que cada setor tem 10 colaboradores(as), construa um código que calcule a média de idade de cada setor, a idade média geral entre todos os setores e quantas pessoas estão acima da idade média geral.

In [13]:
dados = {'Setor A': [22, 26, 30, 30, 35, 38, 40, 56, 57, 65],
        'Setor B': [22, 24, 26, 33, 41, 49, 50, 54, 60, 64],
        'Setor C': [23, 26, 26, 29, 34, 35, 36, 41, 52, 56],
        'Setor D': [19, 20, 25, 27, 34, 39, 42, 44, 50, 65]}

total_idades = 0

for setor, idades in dados.items():
  media_idade = sum(idades) / len(idades)

  print(f'O {setor} tem a média de {media_idade}')

  total_idades += sum(idades)

media_total = total_idades / (len(idades) * len(dados))
print(f'A média de idade geral é {media_total}')

acima_media = 0

for setor, idades in dados.items():
  for id in idades:
    if id > media_total:
      acima_media += 1

print(f'{acima_media} pessoas estão acima da idade média geral')

O Setor A tem a média de 39.9
O Setor B tem a média de 42.3
O Setor C tem a média de 35.8
O Setor D tem a média de 36.5
A média de idade geral é 38.625
18 pessoas estão acima da idade média geral